<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Students</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
</head>
<body>
    <p th:each="student:${students}">
        <span th:text="${student.name}"></span>
        :
        <span th:text="${student.age}"></span>
        <a th:href="@{/student/{id}(id = ${student.id})}">Edit ✎</a>
        -
        <a th:href="@{/student/delete/{id}(id = ${student.id})}">Delete 🗑</a>
    </p>
<p><a href="/student">Add a new student</a></p>
</body>
</html>